extend index

block title
	title My Account
block content
	.offset2
	.span8.account
		p
			.profile_picture
				img(src='#{user.profile_picture}')
		p 
			strong Username: 
			span= user.username
		p 
			strong Name: 
			span= user.full_name
		p 
			strong Bio: 
			span= user.bio
		h4
			span.label.label-success Media
			span.stats= user.counts.media
		h4
			span.label.label-info Followers
			span.stats= user.counts.followed_by
		h4
			span.label.label-info Following
			span.stats= user.counts.follows
	.offset2