extend index

block content
	.offset2
	.span8
		p
			.profile_picture
				img(src='#{user.profile_picture}')
		p 
			strong Username: 
			span= user.username
		p 
			strong Name: 
			span= user.full_name
		p 
			strong Bio: 
			span= user.bio
		p 
			strong Media: 
			span= user.counts.media
		p 
			strong Followers: 
			span= user.counts.followed_by
		p 
			strong Following: 
			span= user.counts.follows
	.offset2