extend index

block content
	p
		img(src='#{user.profile_picture}')
	p Username: #{user.username}
	p Name:
		span= user.full_name
	p Name:
		span= user.full_name
	p Bio:
		span= user.bio
	p Media
		span= user.counts.media
	p Followers
		span= user.counts.followed_by
	p Following
		span= user.counts.follows